Options -Indexes -Multiviews +FollowSymLinks
DirectorySlash Off

RewriteEngine On
RewriteBase /

# EXTENSIONES .php, .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)/$ /$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*)/$ /$1 [NC,L]

RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule (.*) $1.html [L]

RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule (.*) $1.php [L]